@page
@model IndexModel
@using System.Xml;
@using CompuTrack.src.datamgmt;
@{
    ViewData["Title"] = "CompuTrack";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/pages/Index.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="~/assets/icons/CompuTrack.ico" />
</head>
@{
    XmlDocument Profile = dbman.FetchData("DB1", "SELECT UserPrinciples.UserEmail, UserPrinciples.UserGUID, UserPrinciples.Helpdesk, UserPrinciples.Sysadmin\nFROM UserPrinciples\nWHERE(([UserPrinciples].[UserEmail]='" + User.Identity?.Name + "'));", 9, "USERPROFILE");
    if (Profile.FirstChild.ChildNodes[1] is null) dbman.Insert.GUID_New(User.Identity.Name);
}


<div class="index-welcome-text text-start">
    <h1 class="display-4">Welcome,  @User.Identity?.Name.Split("@")[0].Split(".")[0][0].ToString().ToUpper()@User.Identity?.Name.Split("@")[0].Split(".")[0].Substring(1).</h1>
</div>
<div class="index-getstarted-text text-start">
    <h2 class="display-6">Get Started</h2>
</div>
<ul class="index-started-panels">
    <li class="index-getstarted-panel index-getstarted-panel1">
        <img src="~/assets/images/issue-red.png" height="128" width="128" />
        <br />
        <p class="text-center index-getstarted-panel-header">Create or Open an Issue</p>
        <p class="text-center">Make a new Issue to begin tracking it.</p>
        <a class="hyperlink-button" href="/Issues?Tab=New">Create</a>
    </li>
    <li class="index-getstarted-panel index-getstarted-panel2">
        <img src="~/assets/images/computrack.png" height="128" width="128" />
        <br />
        <p class="text-center index-getstarted-panel-header">Checkout your Issues</p>
        <p class="text-center">Take a Look at what you have done</p>
        <a class="hyperlink-button" href="/Issues">My Issues</a>
    </li>
    <li class="index-getstarted-panel index-getstarted-panel3">
        <img src="~/assets/images/checkmark-green.png" height="128" width="128" />
        <br />
        <p class="text-center index-getstarted-panel-header">Checkup or Close an Issue</p>
        <p class="text-center">Discover and Explore end-user Issues</p>
        <a class="hyperlink-button" href="/Issues?Tab=Global">Explore</a>
    </li>
</ul>
<h3>Announcements</h3>
<div class="index-alertcenter">
    @foreach (CompuTrack.src.alert alert in CompuTrack.src.alerts.alertlist)
    {
        <div style="height:45px; margin-top:5px; border: 3px solid @alert.bkcolor; background-color: @alert.bdrcolor;">
            <ul style="padding-top:5px">
                <li style="display:inline">
                    <img src="~/assets/images/@alert.imagesrc" height="32" width="32" style="top:-3px;position:relative"/>
                </li>
                <li style="display:inline;font-size:12pt">
                    @alert.message 
                    @if (alert.LearnMoreURL != "NaN")
                    {
                        <a href="@alert.LearnMoreURL">Learn More</a>
                    }
                </li>
            </ul>
        </div>
    }
</div>
