@page
@model CompuTrack.Pages.IssuesModel
@using CompuTrack.src.datamgmt;
@using CompuTrack.DataTypes;
@using System.Xml;
@using System.Text;
@using CompuTrack.Pages;
@using System.Web;
@using CompuTrack.src.Client;
@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
	var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
@{
	ViewData["Title"] = "Issue Center - CompuTrack";
	@Html.AntiForgeryToken()
}
<head>
	<link rel="stylesheet" href="/css/pages/Issues.css"/>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script>const userguid = "@Html.Raw(HttpUtility.JavaScriptStringEncode(dbman.Fetch.User_ByEmail(User.Identity.Name).GUID))"</script>
</head>
@{
	// Fetches ALL Issues
	Issue[] IssueList = dbman.Fetch.Issues();

    // Fetches User Profile
    StringWriter userprof = new Utf8StringWriter();
    XmlWriter usrwr = XmlWriter.Create(userprof);
	XmlDocument Profile = dbman.FetchData("DB1", "SELECT UserPrinciples.UserEmail, UserPrinciples.UserGUID, UserPrinciples.Helpdesk, UserPrinciples.Sysadmin\nFROM UserPrinciples\nWHERE(([UserPrinciples].[UserEmail]='" + User.Identity?.Name + "'));", 9, "USERPROFILE");
    if (Profile.FirstChild?.ChildNodes[1] is null) dbman.Insert.GUID_New(User.Identity.Name);
    Profile.WriteContentTo(usrwr);
    usrwr.Close();
    //if (userprof.ToString() {}
}
<script src="/js/DataTypes.js"></script>

<!-- Convert C# Data to JS. Client Side, You should only see the JS, no C#.-->
<script>
	@{
		UserProfile UsrProf = dbman.Fetch.User_ByEmail(User.Identity.Name);
	}
			var issueList = new Array();
	var UsrProf = new UserProfile("@UsrProf.Email", "@UsrProf.GUID", "@UsrProf.isHelpDesk", "@UsrProf.isSysAdmin")
</script>
	@for (int i = 0; i != IssueList.Length; i++)
	{
		Issue issue = IssueList[i];
		<script>
			issueList.push(new Issue(
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.ID.ToString()))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.GUID))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.STATUS))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.ASSETTAG.ToString()))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.DISPLAYTEXT))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.DESCRIPTION))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.USERGUID))",
			"@Html.Raw(HttpUtility.JavaScriptStringEncode(issue.CREATIONDATE.ToLongDateString() + " @ " + @issue.CREATIONDATE.ToLongTimeString()))"
				))
		</script>
	}

<script type="text/javascript" src="/js/IssueUI.js"></script>


<!-- HTML Time baby!-->
<div>
	<div>
		<img src="/assets/images/issue-red.png" height="64" width="64"/>
		<span style="position:relative; font-size:24pt; bottom:-6px;">Issue Center</span>
	</div>
	<table class="issues-table">
		<thead>
			<tr class="issues-table-sections" id="issuecentertableheader">
				<th width="150px" id="Issues_UserFilter" onclick="ChangeCenterSelection(this)" class="issues-table-section">My Issues</th>
				<th width="150px" id="Issues_Global" onclick="ChangeCenterSelection(this)" class="issues-table-section">All Issues</th>
				<th width="150px" id="Issues_New" onclick="ChangeCenterSelection(this)" class="issues-table-section">New Issue</th>
				<th></th>
				<th width="150px" id="Issues_Filter" onclick="ChangeCenterSelection(this)" class="issues-table-section">Filters</th>
			</tr>
			
		</thead>
		<tbody>
			<tr>
				<td colspan="5" class="issues-table-container">
					<div id="issues-table-content-container" class="issues-table-content-container issues-issuelist-container">
						@if (IssueList.Length == 0)
						{
							<p id="issues-placeholder" class="issues-placeholder">No Issues Found.</p>
						} else
						{
							<table>
								<thead>
									<th></th>
								</thead>
								<tbody>
									<!--
									@for (int i = 0; i != IssueList.Length; i++)
									{
										Issue isue = IssueList[i];
										<tr>
											@if (isue.STATUS == "CLOSED") {
												<td><img src="~/assets/images/issue-green.png" width="50" height="50" /></td>
											} else if (isue.STATUS == "PENDING")
											{
												<td><img src="~/assets/images/issue-yellow.png" width="50" height="50" /></td>
											} else
											{
												<td><img src="~/assets/images/issue-red.png" width="50" height="50" /></td>
											}
											<td>#@isue.ID</td>
											<td class="">@isue.DISPLAYTEXT</td>
											<td class="issues-issue-date">@isue.CREATIONDATE.ToLongDateString() @isue.CREATIONDATE.ToLongTimeString()</td>
										</tr>
									}
									-->
								</tbody>
							</table>
						}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<script>
		


	</script>
</div>

@if (Request.Query["Tab"] == "New")
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_New"));
	</script>
}
else if (Request.Query["Tab"] == "MyIssues")
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_UserFilter"));
	</script>
}
else if (Request.Query["Tab"] == "Global")
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_Global"));
	</script>
}

else
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_UserFilter"));
	</script>
}
