@page
@model CompuTrack.Pages.Issues.IssueModel
@using CompuTrack.DataTypes;
@using CompuTrack.src.datamgmt;
@using System.Xml;
@using System;
@{

    XmlDocument deeta = dbman.FetchData("DB1", "SELECT Issues.*\nFROM Issues;", 9, "ISSUELIST");
    List<Issue> IssueList = new List<Issue>();
    for (int i = 0; i != deeta.ChildNodes[0]?.ChildNodes.Count; i++)
    {
        XmlNode issueXML = deeta.ChildNodes[0].ChildNodes[i];
        IssueList.Add(new Issue((ulong)int.Parse(issueXML.ChildNodes[0].InnerText), issueXML.ChildNodes[1].InnerText, issueXML.ChildNodes[2].InnerText, int.Parse(issueXML.ChildNodes[3].InnerText), issueXML.ChildNodes[4].InnerText, issueXML.ChildNodes[5].InnerText, issueXML.ChildNodes[6].InnerText, DateTime.Parse(issueXML.ChildNodes[7].InnerText)));
    }
    Predicate<Issue> finder = s => (s.GUID == Request.Query["IssueID"]);

    Issue SelectedIssue = IssueList.Find(finder);
    ViewData["Title"] = $"Computrack - #{SelectedIssue.ID}";
}
<head>
	<script src="/js/Issue.js"></script>
</head>


<a href="/Issues">Back to Issue List</a>
<br/>
<table class="issueproperties-table">
    <tbody>
        <tr>
            <td class="issueproperties-panel">
                <h1>#@SelectedIssue.ID - @SelectedIssue.DISPLAYTEXT</h1>
                @if (SelectedIssue.STATUS == "OPEN")
                {
                    <h5 class="issue-status-tag red"> OPEN    </h5>
                }
                else if (SelectedIssue.STATUS == "CLOSED")
                {
                    <h5 class="issue-status-tag green">   CLOSED    </h5>
                }
                else
                {
                    <h5 class="issue-status-tag yellow">   PENDING    </h5>
                }
                <div>
                    <span class="noselect">Created: <code class="selectable">@SelectedIssue.CREATIONDATE.ToLongDateString() @@ @SelectedIssue.CREATIONDATE.ToLongTimeString()</code></span>
                        <br />
                    <span class="noselect">By: <code class="selectable">@SelectedIssue.USERGUID</code></span>
                </div>
                <div>
                    <span class="noselect">Asset Tag: <code style="user-select:all">@SelectedIssue.ASSETTAG</code></span>
                </div>
                <br />
                <div>
                    <span>Issue Description:</span>
                    <br />
                    <textarea id="issue-description"class="issueproperties-description" rows="5" cols="50" disabled>@SelectedIssue.DESCRIPTION</textarea>
                </div>
            </td>
            <td rowspan="2" class="issueproperties-actionpanel">

            </td>
        </tr>
        <tr>
            <td class="issueproperties-commentspanel">
                <div>
                    <h1 class="issueproperties-commentspanel-title">Comments</h1>

                </div>
            </td>
        </tr>
    </tbody>
</table>
